aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
multidict==5.1.0
pipenv==2020.11.15
pyaes==1.6.1
pyasn1==0.4.8
pyTelegramBotAPI==3.7.7
python-dotenv==0.17.1
requests==2.25.1
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
Telethon==1.21.1
typing-extensions==3.10.0.0
uurllib3==1.26.5
virtualenv==20.4.6
virtualenv-clone==0.5.4
yarl==1.6.3
